@import "tailwindcss";
#root {
  margin: 0 auto;
  background-color: black;
}
:global(.scav){
  background-color: black;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@font-face {
  font-family: bleguk; 
  src: url(assets/fonts/Bleguk-Demo.otf);  
}
@font-face {
  font-family: revolution; 
  src: url(assets/fonts/Children_of_the_revolution.ttf);  
}
@font-face {
  font-family: santo; 
  src: url(assets/fonts/SANTO___.TTF);  
}
@font-face {
  font-family: vtks; 
  src: url(assets/fonts/Vtks_Vinte_e_Cinco.ttf);  
}
@font-face {
  font-family: EdSloppy; 
  src: url(assets/fonts/zai_EdSloppyHandwritten.ttf);  
}
@font-face {
  font-family: EdSimple; 
  src: url(assets/fonts/zai_EdSloppySimple.ttf);  
}
@font-face {
  font-family: Daubmark; 
  src: url(assets/fonts/Daubmark.ttf);  
}
@font-face {
  font-family: Caligraf; 
  src: url(assets/fonts/Caligraf.ttf);  
}
@font-face {
  font-family: Kashare; 
  src: url(assets/fonts/Kashare.ttf);  
}

.hero{
  display: flex;
  height: 200vh;
  background-image: url('assets/woof.jpg');
  background-size:contain;
  box-shadow: inset 0 0 1000px rgba(0,0,0,0.7);
}

.content{
  width: 100%;
  margin: 2rem auto 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color:white;
  text-shadow: 0 0 20px black;
}


.content h1{
  font-size: 56px;
  font-weight: bolder;
}
.content p {
  letter-spacing: 4px;
  text-shadow: 0 0 5px black;

  font-weight: bold;
  max-width: 550px;
  margin: 15px 0;
  font-size: 24px;
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
